hostname {{ item.name }}
!
vrf {{ item.mgmt_vrf }}
 address-family ipv4 unicast
!
interface {{ item.mgmt_int }}
 vrf {{ item.mgmt_vrf }}
 ip address {{ item.mgmt_ip }}
{% if item.mgmt_description is defined and item.mgmt_description != ''  %}
 description {{ item.mgmt_description }}
{% endif %}
 no shutdown
!
router static vrf {{item. mgmt_vrf }} address-family ipv4 unicast 0.0.0.0/0 {{ item.mgmt_gw }}
!
username admin group root-lr
username admin group cisco-support
username admin secret {{ item.password }}
!
{% if domain is defined %}
domain name {{ item.domain }}
{% endif %}
!
ip access-list LINE-V4
 permit tcp 10.0.0.0 0.255.255.255 any eq 22
 permit tcp 172.16.0.0 0.15.255.255 any eq 22
 permit tcp 192.168.0.0 0.0.255.255 any eq 22
!
ssh server vrf {{ item.mgmt_vrf }}
!
line default
 access-class LINE-V4 in
!
###############################
######Generate SSH Keys - utilize the below command
######crypto key generate rsa
###############################